<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>netstat_dev_v0.0.4</string>
	<key>CFBundleExecutable</key>
	<string>netstat_dev_v0.0.4</string>
	<key>CFBundleIconFile</key>
	<string>generated-1ab5c07c91a3e99097129eed59eeeba77382bd064c4bc4ba1d19cbb7c438288b.icns</string>
	<key>CFBundleIdentifier</key>
	<string>netstat_dev_v0.0.4</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>netstat_dev_v0.0.4</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.0.0</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>
